﻿<div class="branches">
    <div class="row">
        <div class="col-md-4">
            <h2>Add a new Sport Branch</h2>
            <form class="form-horizontal" role="form" name="newBranchForm" id="newBranchForm">
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName" placeholder="Branch Name" ng-model="newBranch.name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputApiUrl" class="col-sm-2 control-label">Api Url</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputApiUrl" placeholder="http://api" ng-model="newBranch.apiUrl">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputApiResult" class="col-sm-2 control-label">Api Result Url</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputApiResult" placeholder="http://api" ng-model="newBranch.apiResult">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputImage" class="col-sm-2 control-label">Image file</label>
                    <div class="col-sm-10">
                        <input class="file-select" id="inputImage" type="file" onchange="angular.element(this).scope().fileNameChanged(this)" />
                        <p class="help-block" ng-show="!error">Please pick an image that best describes this sport branch</p>
                        <p class="error" ng-show="error && error !=='success'" ng-bind="error"></p>
                        <p class="success" ng-show="error === 'success'" ng-bind="error"></p>
                        <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="error === 'success'"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input type="checkbox" ng-model="newBranch.tiePossible"> Can matches end in a tie?
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" ng-click="createBranch(newBranchForm)" ng-disabled="!newBranch.name || !newBranch.apiUrl || !newBranch.imageFile">Create new Branch</button>
                        <div ng-show="inProcess" class="inline">
                            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-8">
            <h2>Existings Sport Branches</h2>
            <table class="table">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Api Schedule</th>
                    <th>Api Result</th>
                    <th>#Games</th>
                    <th>Tie Possible</th>
                    <td></td>
                </tr>
                <tr ng-repeat="branch in branches">
                    <td><img class="branch-logo" ng-src="{{branch.ImageUrl}}" /></td>
                    <td ng-bind="branch.RowKey"></td>
                    <td ng-bind="branch.ApiUrl"></td>
                    <td ng-bind="branch.ApiResult"></td>
                    <td ng-bind="branch.GamesAmount"></td>
                    <td ng-bind="branch.TiePossible"></td>
                    <td>
                        <div class="btn-group" dropdown is-open="branch.isopen">
                            <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
                                Options&nbsp;<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="" ng-click="deleteBranch(branch)">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>
