﻿<div class="create-form">
    <div class="row">
        <div class="col-md-6">
            <div class="no-bets" ng-show="!chosenBet">
                <h2>See your last bets</h2>
                <div class="pick">You can see how many people beted on your form.</div>
                <div class="pick">If you win you get the whole pot.</div>
                <div class="glyphicon glyphicon-arrow-right arrow-animation" aria-hidden="true"></div>
            </div>
            <div ng-class="calculateWellClass(chosenBet)" ng-show="chosenBet">
                <div class="form-details">
                    <div class="amount" ng-show="!chosenBet.Winner"><b>Current pot:</b>&nbsp{{chosenBet.AmountOfUsersBet * chosenBet.Amount}}$</div>
                    <div class="amount" ng-show="chosenBet.Winner"><b>Winner:</b>&nbsp{{chosenBet.Winner}}</div>
                    <div class="details"><b>Bet amount:</b>&nbsp{{chosenBet.Amount}}$</div>
                    <div class="details" ng-show="chosenBet.Winner === userName"><b>Amount won:</b>&nbsp{{chosenBet.AmountOfUsersBet * chosenBet.Amount}}$</div>
                    <div class="details" ng-show="chosenBet.Winner !== userName"><b>Amount lost:</b>&nbsp{{chosenBet.Amount}}$</div>
                    <div class="details"><b>Users beted:</b>&nbsp{{chosenBet.AmountOfUsersBet}}</div>
                    <div class="details"><b>Created by:</b>&nbsp{{chosenBet.FormCreatedBy}}</div>
                    <div class="details"><b>Results Determined:</b>&nbsp{{chosenBet.FinishDate | date:'MMM d, y h:mm a'}}</div>
                </div>
                <h2>Your Bet</h2>
                <table class="table">
                    <tr ng-repeat="game in chosenBet.Games" class="repeated-item">
                        <td>{{$index + 1}}.&nbsp<img class="game-logo" ng-src="{{game.ImageUrl}}" />&nbsp{{game.PartitionKey}}</td>
                        <td>{{game.Scheduled | date:'MMM d, y h:mm a'}}</td>
                        <td class="whole-cell"><button ng-class="calculateBetClass(game, 0)">{{game.Home}}</button></td>
                        <td class="whole-cell"><button ng-class="calculateBetClass(game, 1)" ng-disabled="!game.TiePossible"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
                        <td class="whole-cell"><button ng-class="calculateBetClass(game, 2)">{{game.Away}}</button></td>
                        <td>{{game.choice}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div ng-show="initialLoading" class="inline">
                    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                </div>
                <h2 ng-show="!initialLoading && !bets.length">No previous bets</h2>
                <div class="col-md-6" ng-repeat="bet in bets">
                    <div ng-class="calculateWellClass(bet)">
                        <div class="form-details">
                            <div class="amount" ng-show="!bet.Winner"><b>Current pot:</b>&nbsp{{bet.AmountOfUsersBet * bet.Amount}}$</div>
                            <div class="amount" ng-show="bet.Winner"><b>Winner:</b>&nbsp{{bet.Winner}}</div>
                            <div class="details"><b>Bet amount:</b>&nbsp{{bet.Amount}}$</div>
                            <div class="details" ng-show="bet.Winner === userName"><b>Amount won:</b>&nbsp{{bet.AmountOfUsersBet * bet.Amount}}$</div>
                            <div class="details" ng-show="bet.Winner !== userName"><b>Amount lost:</b>&nbsp{{bet.Amount}}$</div>
                            <div class="details"><b>Users beted:</b>&nbsp{{bet.AmountOfUsersBet}}</div>
                            <div class="details"><b>Created by:</b>&nbsp{{bet.FormCreatedBy}}</div>
                            <div class="details"><b>Results Determined:</b>&nbsp{{bet.FinishDate | date:'MMM d, y h:mm a'}}</div>
                            <button class="btn btn-default" ng-click="chooseBet(bet)">Open Form</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


