﻿<div class="create-form">
    <div class="row">
        <div class="col-md-6">
            <div class="no-bets" ng-show="!chosenForm">
                <h2>Lets Beat Your Friends</h2>
                <div class="pick">Add your bet to an existing bet form.</div>
                <div class="pick">If you win you get all other users bets.</div>
                <div class="glyphicon glyphicon-arrow-right arrow-animation" aria-hidden="true"></div>
            </div>
            <div class="well" ng-show="chosenForm">
                <div class="form-details">
                    <div class="amount"><b>Current pot:</b>&nbsp{{chosenForm.AmountOfUsersBet * chosenForm.Amount}}$</div>
                    <div class="details"><b>Bet amount:</b>&nbsp{{chosenForm.Amount}}$</div>
                    <div class="details"><b>Users beted:</b>&nbsp{{chosenForm.AmountOfUsersBet}}</div>
                    <div class="details"><b>Created by:</b>&nbsp{{chosenForm.CreatedBy}}</div>
                    <div class="details"><b>Last date to place your bet:</b>&nbsp{{chosenForm.LastDateToBet | date:'MMM d, y h:mm a'}}</div>
                </div>
                <table class="table">
                    <tr ng-repeat="game in chosenForm.Games" class="repeated-item" tooltip-placement="right" tooltip="The creator choice of bet">
                        <td>{{$index + 1}}.&nbsp<img class="game-logo" ng-src="{{game.ImageUrl}}" />&nbsp{{game.PartitionKey}}</td>
                        <td>{{game.Scheduled | date:'MMM d, y h:mm a'}}</td>
                        <td class="whole-cell"><button ng-class="calculateBetClass(game, 0)" ng-click="game.yourChoice = 0">{{game.Home}}</button></td>
                        <td class="whole-cell"><button ng-class="calculateBetClass(game, 1)" ng-disabled="!game.TiePossible" ng-click="game.yourChoice = 1"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
                        <td class="whole-cell"><button ng-class="calculateBetClass(game, 2)" ng-click="game.yourChoice = 2">{{game.Away}}</button></td>
                        <td>{{game.choice}}</td>
                    </tr>
                </table>
                <div class="summary">
                    <button class="btn btn-primary" ng-click="sendForm();">Send Your Bet</button>
                    <div ng-show="inProcess" class="inline">
                        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div ng-show="initialLoading" class="inline">
                    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                </div>
                <h2 ng-show="!initialLoading && !forms.length">No forms</h2>
                <div class="col-md-6" ng-repeat="form in forms">
                    <div class="well">
                        <div class="form-details">
                            <div class="amount"><b>Current pot:</b>&nbsp{{form.AmountOfUsersBet * form.Amount}}$</div>
                            <div class="details"><b>Bet amount:</b>&nbsp{{form.Amount}}$</div>
                            <div class="details"><b>Users beted:</b>&nbsp{{form.AmountOfUsersBet}}</div>
                            <div class="details"><b>Created by:</b>&nbsp{{form.CreatedBy}}</div>
                            <div class="details"><b>Last date to place your bet:</b>&nbsp{{form.LastDateToBet | date:'MMM d, y h:mm a'}}</div>
                            <button class="btn btn-default" ng-click="chooseForm(form)">Open Form</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


